RewriteEngine On

RewriteRule ^src/.*$ - [F,L]

<FilesMatch "^\.env|composer\.json|composer\.lock">
    Order allow,deny
    Deny from all
</FilesMatch>
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/public/

RewriteRule ^(.*)$ public/$1 [L]